<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Spreadsheet</title>
</head>
<body>
<h1>Spreadsheet</h1>
<form th:action="@{/calculate}" method="post">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rowNumber : ${#numbers.sequence(1, 4)}">
            <th th:text="${rowNumber}"></th>
            <td><input type="text" th:name="'A' + ${rowNumber}" th:value="${cells['A' + rowNumber]}" /></td>
            <td><input type="text" th:name="'B' + ${rowNumber}" th:value="${cells['B' + rowNumber]}" /></td>
            <td><input type="text" th:name="'C' + ${rowNumber}" th:value="${cells['C' + rowNumber]}" /></td>
            <td><input type="text" th:name="'D' + ${rowNumber}" th:value="${cells['D' + rowNumber]}" /></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Calculate"/>
</form>
</body>
</html>
